/* Tombol custom */
.btn-custom {
    background-color: #1687A7 !important; /* warna dasar */
    color: white;
    border: none;
    border-radius: 8px; /* sudut membulat */
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .btn-custom:hover {
    background-color: #1687A7; /* warna saat hover */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    color: white;
  }
  
  /* Warna ikon */
  .contact-icon {
    color: #1687A7; /* warna ikon default */
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .contact-icon:hover {
    color: #1687A7; /* warna ikon saat hover */
    transform: scale(1.2); /* efek membesar */
  }
  .cb{
    background-color: #F6F5F5 !important;
  }